@use "global" as *;

.campaign-card {
    /*flex: 1;
    width: rem(280);*/
    height: 100%;
    padding: 0 0 0 0;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    @include mq(md) {
        transition: 0.3s;
    }
}

.campaign-card:hover {
    @include mq(md) {
        opacity: 0.5;
    }
}

.campaign-card__body {
    padding: rem(16);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    @include mq(md) {
        padding: rem(24) rem(16) rem(30) rem(16);
    }
}

.campaign-card__image {
    /*width: rem(280);
    height: rem(188);*/
    aspect-ratio: 17.5 / 11.75;
    overflow: hidden;
    @include mq(md) {
        /*width: rem(334);
        height: rem(227);*/
    }
}

.campaign-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.campaign-card__tag {
    display: inline-block;
    font-size: rem(12);
    border: 1px solid $green;
    text-align: center;
    color: $green;
    line-height: 1;
    padding: rem(8) rem(10.4) rem(8) rem(12);
    letter-spacing: 0.01em;
    width: fit-content;

    @include mq(md) {
        font-size: rem(12);
        padding: rem(10) rem(16) rem(10) rem(16);
    }
}

.campaign-card__title {
    font-size: rem(16);
    font-weight: $medium;
    line-height: 1.5;
    margin-top: rem(4);
    flex-grow: 1;
    @include mq(md) {
        margin-top: rem(7);
    }
}

.campaign-card__bar {
    display: block;
    height: rem(1);
    background-color: $green;
    margin-top: rem(7);
}

.campaign-card__contents {
    padding-top: rem(8);

    @include mq(md) {
        padding-top: rem(20);
    }
}

.campaign-card__contents-title {
    font-size: rem(14);
    text-align: center;

    @include mq(md) {
        font-size: rem(16);
        width: rem(171);
        margin-left: rem(58);
        line-height: 1;
    }
}

.campaign-card__contents-content {
    padding-top: rem(3.2);
    display: flex;
    column-gap: rem(16);
    justify-content: center;
    font-family: $Lato;
    align-items: baseline;
    @include mq(md) {
        column-gap: rem(24);
    }
}

.campaign-card__contents-content p:first-child {
    position: relative;
    font-size: rem(20);
    font-weight: $bold;

    @include mq(md) {
        font-size: rem(24);
    }
}

.campaign-card__contents-content p:first-child span {
    position: absolute;
    display: inline-block;
    width: rem(76);
    height: rem(2);
    background-color: #C94800;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.campaign-card__contents-content p:nth-child(2) {
    font-size: rem(32);
    color: $green;
    font-weight: $bold;

    @include mq(md) {
        font-size: rem(40);
    }
}

/*Campaignページ*/

.campaign-card__contents-description {
    display: none;
    @include mq(md) {
        margin-top: rem(24);
        display: block;
        line-height: 1.5;
        font-size: rem(16);
        flex-grow: 1;
    }
}

.campaign-card__contents-date {
    display: none; 
    @include mq(md) {
        display: block;
        font-size: rem(16);
        color: $green;
        text-align: center;
        margin-top: rem(32);
        font-family: $Lato;
        line-height: 1;
        }
    }

.campaign-card__caption {
    display: none;
    @include mq(md) {
        display: block;
        text-align: center;
        margin-top: rem(7);
        font-size: rem(14);
        line-height: 1;
        color: $green;
    }
}

.campaign-card__button {
    display: none;
    @include mq(md) {
        display: block;
        text-align: center;
        margin-top: rem(16);
    }
}

.campaign-card__body--campaign {
    @include mq(md) {
        padding: rem(23) rem(23) rem(50);
    }
}

.campaign-card__title--campaign {
    @include mq(md) {
        font-size: rem(24);
        margin-top: rem(5);
    }
}

.campaign-card__bar--campaign {
    @include mq(md) {
    margin-top: rem(1);
    }
}

.campaign-card__contents--campaign {
    @include mq(md) {
        padding-top: rem(27);
    }
}

.campaign-card__contents-title--campaign {
    @include mq(md) {
        width: 100%;
        margin-left: 0;
    }
}

.campaign-card__contents-content--campaign {
    @include mq(md) {
        column-gap: rem(42);
    }
}

.campaign-card__contents-description--campaign {
    @include mq(md) {
        margin-top: rem(13);
    }
}

/*Blogページ*/
.campaign-card__image--sub {
    aspect-ratio: 17.5 / 11.2;
    overflow: hidden;
    @include mq(md) {
    }
}

.campaign-card__body--sub {
    padding-top: rem(13);
    @include mq(md) {
        padding: rem(16);
    }
}


.campaign-card__title--sub {
    text-align: center;
    @include mq(md) {
        margin-top: rem(4);
    }
}

.campaign-card__contents--sub {
    @include mq(md) {
        padding-top: rem(8);
    }
}

.campaign-card__contents-title--sub {
    
    @include mq(md) {
        font-size: rem(14);
    }
}

.campaign-card__contents-content--sub {
    @include mq(md) {
        column-gap: rem(16);
    }
}

.campaign-card__contents-content--sub p:first-child {
    @include mq(md) {
        font-size: rem(20);
    }
}

.campaign-card__contents-content--sub p:nth-child(2) {
@include mq(md) {
        font-size: rem(32);
    }
}
