@use "global" as *;

.gallery__inner {
    max-width: rem(600);
    margin: auto;

    @include mq(md) {
        max-width: rem(1080);
    }
}

.gallery__items {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: rem(40);
    gap: rem(8);

    @include mq(md) {
        // grid-template-columns: 1fr 7% 1fr;
        // grid-template-rows: 1fr 1fr 1fr 1fr;
        margin-top: rem(78);
        grid-auto-flow: dense; /* 配置方法　横方法に隙間を埋めながら配置 */
        grid-template-columns: repeat(24 ,1fr);
    }
}

.gallery__item {
    aspect-ratio: 580 / 369;
    overflow: hidden;
    @include mq(md) {
    grid-column: span 13;
    grid-row: span 1;
    
    }
}

.gallery__item:nth-of-type(6n + 1) { /*1番目と6の倍数+1*/
    aspect-ratio: 492 / 746;
    overflow: hidden;
    @include mq(md) {
        grid-column: span 11;
        grid-row: span 2;

}
}

.gallery__item:nth-of-type(6n + 6) { /*6番目と6の倍数+6*/
    aspect-ratio: 492 / 746;
    overflow: hidden;
    @include mq(md) {
        grid-column: span 11;
        grid-row: span 2;
}
}


// .gallery__item1 {
//     @include mq(md) {
//         grid-column: 1 / 2;
//         grid-row: 1 / 3;
//     }
// }

// .gallery__item2 {
//     @include mq(md) {
//         grid-column: 2 / 4;
//         grid-row: 1 / 2;
//     }
// }

// .gallery__item3 {
//     @include mq(md) {
//         grid-column: 2 / 4;
//         grid-row: 2 / 3;
//     }
// }

// .gallery__item4 {
//     @include mq(md) {
//         grid-column: 1 / 3;
//         grid-row: 3 / 4;
//     }
// }

// .gallery__item5 {
//     @include mq(md) {
//         grid-column: 1 / 3;
//         grid-row: 4 / 5;
//     }
// }

// .gallery__item6 {
//     @include mq(md) {
//         grid-column: 3 / 4;
//         grid-row: 3 / 5;
//     }
// }

.gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}