@use "global" as *;

.site-map {
    position: relative;
}

.site-map__inner {
    max-width: rem(600);
    margin: auto;
    width: 100%;
    position: relative;

    @include mq(md) {
        max-width: rem(1080);
    }
}

.site-map__inner::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/sub-illust.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(120);
    height: rem(55);
    top: rem(60);
    left: rem(15);
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-80);
        left: calc(50% - min(47vw, rem(635)));
    }
}

.site-map__navi {
    margin-top: rem(40);
    padding-left: rem(37);
    padding-right: rem(26);

    @include mq(md) {
        margin-top: rem(22);
        padding-left: 0;
        padding-right: 0;
    }
}

.site-map__navi h2 {
    font-size: rem(16);
    font-weight: $bold;
}