@use "global" as *;

.sub-thanks {
    position: relative;
}

.sub-thanks__inner {
    max-width: rem(600);
    margin: auto;
    width: 100%;
    position: relative;

    @include mq(md) {
        max-width: rem(700);
    }
}

.sub-thanks__inner::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/sub-illust.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(120);
    height: rem(55);
    top: rem(-21);
    left: rem(15);
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(47vw, rem(620)));
    }
}

.sub-thanks__contents {
    @include mq(md) {
        
    }
}

.sub-thanks__contents p {
    text-align: center;
}

.sub-thanks__text {
    margin-top: rem(36);
    line-height: 1.45;
}

.sub-thanks__none {
    @include mq(md) {
        display: none;
    }
}