@use "global" as *;

.sub-about {
    position: relative;
}

.sub-about__inner {
    max-width: rem(600);
    margin: auto;
    width: 100%;
    position: relative;

    @include mq(md) {
        max-width: rem(1130);
    }
}

.sub-about__inner::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/sub-illust.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(120);
    height: rem(55);
    top: rem(-23);
    left: rem(15);
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(47vw, rem(620)));
    }
}

.sub-about__images {
    aspect-ratio: 345 / 228;
    overflow: hidden;
    position: relative;
    width: 100%;

    @include mq(md) {
        aspect-ratio: 1080 / 660;
    }
}

.sub-about__images-left {
    display: none;

    @include mq(md) {
        display: block;
        aspect-ratio: 399 / 606;
        width: 36.9%;
        position: relative;
        z-index: 2;
    }
}

.sub-about__images-right {
    aspect-ratio: 281 / 186;
    overflow: hidden;

    @include mq(md) {
        aspect-ratio: 1080 / 713;
        overflow: hidden;
        position: absolute;
        top: rem(80);
        left: rem(199);
        width: 81.4%;
        z-index: 1;
    }
}

.sub-about__images-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-about__flex {
    display: contents;

    @include mq(md) {
        display: flex;
        max-width: rem(840);
        width: 80%;
        justify-content: space-between;
        position: absolute;
        top: 46%;
        left: 57%;
        transform: translate(-50%, -50%);
        z-index: 3;
    }
}

.sub-about__catch {
    font-size: rem(40);
    font-family: $second-font-family;
    line-height: 1;
    color: $white;
    position: absolute;
    top: rem(24);
    left: rem(40);

    @include mq(md) {
        font-size: rem(80);
        font-family: $second-font-family;
        line-height: 1.25;
        position: static;
    }
}

.sub-about__catch img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-about__content {
    margin-top: rem(40);

    @include mq(md) {
        margin-top: 0;
        width: 47.5%;
    }
}

.sub-about__text {
    font-size: rem(16);
    line-height: 1.5;
    letter-spacing: normal;

    @include mq(md) {
        letter-spacing: normal;
        color: $white;
        margin-top: rem(51);
    }
}

.sub-about__coral {
    display: none;

    @include mq(md) {
        display: block;
        width: rem(301);
        height: rem(138);
        position: absolute;
        bottom: -27%;
        right: calc(50% - min(47vw, rem(640)));
    }
}