@use "global" as *;

.sub-voice {
    position: relative;
}

.sub-voice__inner {
    max-width: rem(600);
    margin: auto;
    width: 100%;
    position: relative;

    @include mq(md) {
        max-width: rem(1130);
    }
}

.sub-voice__inner::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/sub-illust.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(120);
    height: rem(55);
    top: rem(-25);
    left: rem(15);
    z-index: -1;

    @include mq(md) {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(47vw, rem(620)));
    }
}

.sub-voice__contents {
    display: none;
}

.sub-voice__contents.is-active {
    margin-top: rem(40);
    display: grid;
        grid-template-columns: 1fr;
        gap: rem(40);
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(80) rem(40); /*縦方向の余白 横方向の余白の順*/

    }
}

.sub-voice__page-navi {
    margin-top: rem(80);

    @include mq(md) {
        clear: both;
    }
}