@use "global" as *;

.sub-campaign {
    position: relative;
}

.sub-campaign::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../images/common/sub-illust.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: rem(120);
    height: rem(55);
    top: rem(-23);
    left: rem(15);
    z-index: -1;
    @include mq(md) {
        width: rem(301);
    height: rem(138);
    top: rem(-70);
    left: rem(100);
    }
}

.sub-campaign__inner {
    /*padding-right: 0;
    padding-left: 0;
    max-width: rem(345);*/
    min-width: rem(345);
    width: 100%;
    /*margin-top: rem(40);*/
    @include mq(md) {
        /*max-width: rem(1130);*/
        width: 100%;
        position: relative;
        /*margin-top: rem(115);*/
    }
}

.sub-campaign__tabs {
    max-width: rem(600);
    margin: auto;
    @include mq(md) {
        max-width: 100%;
    }
}

/*
.sub-campaign__lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(16) rem(21);
    max-width: rem(600);
    margin: auto;
    @include mq(md) {
        max-width: 100%;
        grid-template-columns: repeat(4, rem(162));
        gap: rem(32);
    }
}

.sub-campaign__list {
    height: rem(34);
    line-height: 1;
    border: 1px solid $green;
    color: $green;
    font-size: rem(14);
    background-color: $white;
}

.sub-campaign__list.current{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    color: $white;
}

.sub-campaign__list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s;
} 

.sub-campaign__list a:hover {
    @include mq(md) {
        background-color: $green;
        color: $white;
    }
}
*/

.sub-campaign__contents {
    display: none;
    padding-right: rem(33);
    padding-left: rem(33);
    max-width: rem(600);
    margin: rem(40) auto 0;

    @include mq(md) {
        margin-top: rem(40);
        padding-right: 0;
        padding-left: 0;
        max-width: 100%;
    }
}

.sub-campaign__contents.is-active {
    display: block;
}

.sub-campaign__cards {
    @include mq(md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(80) rem(40);
    }
}

.sub-campaign__card:not(:first-child) {
    margin-top: rem(40);
    @include mq(md) {
        margin-top: 0;
    }
    
}

.sub-campaign__page-navi {
    margin-top: rem(80);
    @include mq(md) {
        margin-top: rem(77);
    }
}